[submodule "pagamentos"]
	path = pagamentos
	url = https://github.com/tradin-agro/pagamentos.git
[submodule "pedidos"]
	path = pedidos
	url = https://github.com/tradin-agro/pedidos.git
[submodule "eureka"]
	path = eureka
	url = https://github.com/tradin-agro/eureka.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/tradin-agro/gateway.git
[submodule "avaliacao"]
	path = avaliacao
	url = https://github.com/tradin-agro/avaliacao.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/tradin-agro/rabbitmq.git
